/* 
COLOR PALETTE
light green #67f494 	(103,244,148)
green #5cc59e     (92,197,158)
greyBlue #385D8E
lightest gray #98A4CE
light gray #4C5267
gray #4c5267     (76,82,103)
middle grey #363a51     (54,58,81)
dark grey #1a2b42	    (26,43,66)

FONTS
font-family: 'Open Sans', sans-serif;
*/

body{
    font-family: 'Open Sans', sans-serif;
}

aside {
    top:0;
    bottom:0;
    width:280px;
    height: 100%;
    background-color: #1a2b42;

}

a {
    color:#98A4CE;
    padding:20px 3px 20px 20px;
    display:block;
    text-decoration: none;
}

a:hover{
    color: white;
    border-left:solid 3px #363a51;
    background-color:#363a51;
    padding:20px 30px 20px 40px;
    display:block;

}

.active-menu-link {
    color: #67f494;
    border-left:solid 3px #67f494;
    background-color:#1a2b42;
    padding:20px 30px 20px 17px;
    display:block;
}

.far {
    color:#67f494;
}

.fas {
    color:#67f494;
}